@import url('https://fonts.googleapis.com/css?family=Almarai&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Almarai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e2e2e2;
}
h4{
  padding: 20px;
}

.contenedor{
  padding: 20px;
  box-sizing: border-box;
}

.noticia{
  margin-top: 20px;
}

.card .card-title{font-weight: bold;}
span {color:#1e88e5; }

.fade-enter{
  opacity: 0;
  transform: scale(1.25)

}
.fade-enter.fade-enter-active{
  opacity: 1;
  transition: all .5s ease-in;
  transform: scale(1)
}
.fade-exit{
  opacity: 1;
   transform: scale(1.25)
}
.fade-exit.fade-exit-active{
  opacity: 0;
  transition: all .5s ease-in;
  transform: scale(1)
}

.btn{
  background-color: #208ff0;
}
.btn:hover{
  background-color: #1c7bce;
}
.btn:focus{
  background-color: #1c7bce;
}

